@font-face {
  font-family: Monsterrat;
  src: url('../../fonts/Montserrat-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../../fonts/Montserrat-Light.otf');
  font-weight: 300;
}