// Colors
$color-primary: #de4f4f;
$color-primary-dark: darken($color-primary, 25%);
$color-primary-light: lighten($color-primary, 25%);
$color-secondary: #27272b;
$color-secondary-dark: darken($color-secondary, 25%);
$color-secondary-light: lighten($color-secondary, 25%);
$color-tertiary: #fff;
$color-tertiary-dark: darken($color-tertiary, 25%);
$color-tertiary-light: lighten($color-tertiary, 25%);
