.header {
  display: block;
  overflow: hidden;
  background-color: white;

  .site-title {
    @extend .col-xs-10;
    @include Roboto-Light(16px);
    color: $color-primary;
    text-transform: uppercase;
  }

  .add-task {
    @extend .col-xs-2;

    svg {
      width: 30px;
      height: auto;
      margin: 15px;
      fill: $color-primary;
    }
  }

  .nav-bar {
    .page-tabs {
      text-align: center;

      button {
        @extend .col-xs-4;
        @include transition(all 0.4s ease-in-out);
        padding: 10px;
        border: 0;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-light;
        }

        svg {
          display: block;
          width: 30px;
          height: auto;
          margin: 0 auto;
          fill: $color-tertiary;
        }
      }
    }
  }
}