.header {
  background-color: $color-primary;

  .logo {
    @extend .col-sm-2;

    svg {
      fill: $color-primary-dark;
    }
  }

  .site-title {
    @extend .col-sm-10;
    @include Montserrat-Light(16px);
    color: $color-primary-dark;
  }

  .nav-bar {
    .page-tabs {
      button {
        @extend .col-sm-4;
        @include Montserrat-Regular(14px);
        border: 1px solid $color-secondary-light;
        background-color: white;
        color: $color-secondary;
      }
    }
  }
}